@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 241, 241);
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: white;
}

.item__red {
  background-color: red;
}

.item__blue {
  background-color: blue;
}

.item__yellow {
  background-color: yellow;
  color: black;
}
