.tag {
  position: relative;
  display: inline-block;
  line-height: 50px;
  height: 63px;
  margin-left: 30px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
  background: #5f5134;
  filter: drop-shadow(4px 6px 5px rgba(65, 65, 65, 0.7));
  cursor: pointer;
}

.tag:before {
  position: absolute;
  top: 0;
  left: -29px;
  content: "";
  border-width: 32px 30px 32px 0;
  border-style: solid;
  border-color: transparent #5f5134 transparent transparent;
}

.tag:after {
  position: absolute;
  top: calc(50% - 7px);
  left: -10px;
  width: 14px;
  height: 14px;
  content: "";
  border-radius: 50%;
  background: rgb(241, 241, 241);
}
